.home{
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 100px; 
    flex-wrap: wrap;
    padding: 0 20px 50px 20px;
}

.logoH img{
    height: 350px;
}

.content{
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 800px;
    text-align: justify;
}

.button button{
    height: 50px;
    width: 250px;
    font-size: 15px ;
    color: #303943;
}